$primary-color: #999999;

.russo {
  text-align: left;
  color: white;
  font-size: 3rem;
  font-family: 'Russo One', sans-serif;
  text-shadow: 2px 2px 6px black;
}

.logo {
  top: 0px;
}

.title {
  color: $primary-color
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #999999;
  //display: flex;
  //flex-flow: column wrap;
}
.content {
  flex: 1 1;
  order: 2;
  display: flex;
}

.mapPane {
  flex: 1;
  height: calc(100vh - 9.5em);
  z-index: 1;
}

.govHeader {
  display: flex;
  float: top;
}

// Float Title Menu
.floatingMenu {
  margin-top: 12px;
  left: 56px;
  z-index: 3;
  position: absolute;
  //text-align: center;
}

.floatingMenuOptions {
  z-index: 300;
}

// GOV HEADER

.barraBrasilStyle {
  background: #7F7F7F;
  height: 20px;
  padding: 0 0 0 10px;
  display: block;
}

.menuBarraTempStyle {
  list-style: none;
}

.liStyle {
  display: inline;
  float: left;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #EDEDED;
}

.GovA1Style {
  font-family: sans, sans-serif;
  text-decoration: none;
  color: white;
}

.GovA2Style {
  font-family: sans, sans-serif;
  text-decoration: none;
  color: white;
}

