$primary-color: #999999;

.title {
  color: $primary-color
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #999999;
  //display: flex;
  //flex-flow: column wrap;
}
.content {
  flex: 1 1;
  order: 2;
  display: flex;
}

.mapPane {
  flex: 1;
  height: calc(100vh - 9.2em);
  z-index: 1;
}

.govHeader {
  display: flex;
  float: top;
}

// GOV HEADER

.barraBrasilStyle {
  background: #7F7F7F;
  height: 20px;
  padding: 0 0 0 10px;
  display: block;
}

.menuBarraTempStyle {
  list-style: none;
}

.liStyle {
  display: inline;
  float: left;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #EDEDED;
}

.GovA1Style {
  font-family: sans, sans-serif;
  text-decoration: none;
  color: white;
}

.GovA2Style {
  font-family: sans, sans-serif;
  text-decoration: none;
  color: white;
}

